@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.siteTitle {
    font-family: 'Arial Rounded MT Bold', 'Nunito', "Helvetica Rounded", Arial, sans-serif;
    color: white;
    margin: 0;
    margin-left: 5vw;

    padding: 1vh;
}

.siteTitleCentered {
    display: block;
    text-align: center;
    width: 100vw;
    padding-top: 5vh;
    margin-left: 0;
}

#content {
    background-color: #FF5A5A;
    width: 100vw;
    height: 100vh;
}

body {
    overflow: hidden;
}

#canvasContainer {
    margin-left: 5vw;
}


.box {
    display: block;
    font-family: 'Arial Rounded MT Bold', 'Nunito', "Helvetica Rounded", Arial, sans-serif;
    background-color: #FDA7A7;
    border: 0 solid transparent;
    border-radius: 1vw;
    padding: 1vw;
    color: white;
    text-align: center;
    width: 25vw;
    /* height: 7vh; */
    font-size: 6vh;
    margin-top: 2vh;
    text-decoration: none;
}


input:focus{
    outline: none;
}

/* .buttonBox {
    text-align: center;
    width: 20vw;
    height: 7vh;
    font-size: 6vh;
    margin: 2vh;
    text-decoration: none;
} */

.buttonContainer {
    margin-top: 4vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.formlabel {
    font-family: 'Arial Rounded MT Bold', 'Nunito', "Helvetica Rounded", Arial, sans-serif;
    font-size: 6vh;
    color: white;
    display: inline;
}

.checkBox {
    display: inline;
    background-color: #FDA7A7;
    border: 0 solid transparent;
    border-radius: 1vw;
    padding: 1vw;
    text-align: center;
    width: 5vw;
    height: 5vh;
    margin-top: 2vh;
    text-decoration: none;
}